<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>286696696685-k08gh2i060j9ra7lmltpgd5fuck4i5on.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.286696696685-k08gh2i060j9ra7lmltpgd5fuck4i5on</string>
	<key>API_KEY</key>
	<string>AIzaSyCP5iOlwK0aJmP2YTs58uo8_ilnfJ94Bg4</string>
	<key>GCM_SENDER_ID</key>
	<string>286696696685</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.remoteConfigDemo</string>
	<key>PROJECT_ID</key>
	<string>remote-config-demo-ed7a1</string>
	<key>STORAGE_BUCKET</key>
	<string>remote-config-demo-ed7a1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:286696696685:ios:7f141991636b23e62ac864</string>
</dict>
</plist>